
body {
	background-color: darkblue;
}

img {
	width: 100%;
}

.narrate {
	font-family: fantasy;
	color:rgb(13, 85, 148);
	margin-left: 10px;
	margin-right: 10px;
}

#EntryImg {
	margin-top: 130px;
	height: 25%;
	width: 25%;
	border: 30px solid;
	border-color: rgb(173, 216, 230);
	border-radius: 100%;
	cursor: pointer;
}

#Logo {
	margin: auto;
	width: 160px;
	border: 7px solid;
	border-color: #fa6400;
	border-radius: 100%;
}

.middle-div {
	margin: auto;
	text-align: center;
}

#MainDiv {
	margin-top: 10px;
	width: 70%;
	background-color: antiquewhite;
	border-radius: 8px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

h1 {
	font-weight: 5000;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
	font-family: fantasy;
	margin-left: 15px;
	margin-right: 15px;
}

#Button2Div {
	display: grid;
	grid-template-columns: auto auto;
	width: 60%;
	margin: auto;
	margin-top: 40px;
}

button {
	margin: auto;
	width: 20%;
	height: 40px;
}

#move-forward {
	display: none;
}

#Yes-response {
	color: rgb(143, 219, 29);
}

#resp-div {
	display: none;
}

#No-response {
	color: red;
	font-family: serif;
}

#Button4Div {
	display: grid;
	grid-template-columns: auto auto;
}

.doorDiv {
	width: 70%;
	height: 400px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 30px;
}

.doorDiv p {
	margin-top: 50px;
	font-family: fantasy;
	font-size: 20px;
}

#RedDoorDiv {
	background-color: red;
}

#RedDoorDiv > p {
	color: yellow;
}

#GreenDoorDiv {
	background-color: green;
}

#GreenDoorDiv > p {
	color: lightcoral;
}

#BlueDoorDiv {
	background-color: blue;
}

#BlueDoorDiv > p {
	color: lightgrey;
}

#BrownDoorDiv {
	background-color: brown;
}

#BrownDoorDiv > p {
	color: lightblue;
}

#BadAnswer {
	display: none;
	color: red;
}

#GoodAnswer {
	display: none;
	color:rgb(143, 219, 29);
}

#ForwardButton {
	display: none;
	margin-top: 20px;
}

#InputButtonDiv {
	display: grid;
	grid-template-columns: auto auto;
	width: 100%;
	margin-top: 20px;
}

#InputButtonDiv > * {
	margin: auto;
}

#InputButtonDiv > input {
	margin-right: 5px;
}

#InputButtonDiv > button {
	margin-left: 5px;
}

#ReturnButtonDiv {
	width: 40%;
	height: auto;
	text-align: left;
	margin-left: 20px;
}

#ReturnButtonDiv > button {
	font-size: 14px;
	width: 70px;
	height: 30px;
}

#lastQ {
	width: 70%;
}

#LastHallButton {
	display: none;
	margin-top: 20px;
}

/* https://getcssscan.com/css-buttons-examples */
/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  margin: auto;
  width: 20%;
  height: 40px;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}