
body {
	background-color: darkblue;
}

img {
	width: 100%;
}

.narrate {
	font-weight: 5000;
	color:rgb(13, 85, 148);
	margin-left: 10px;
	margin-right: 10px;
	/*
	font-family: 'Courier New', Courier, monospace;
	*/
	/*
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	*/
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.robot {
	font-weight: 5000;
	color:rgb(13, 148, 112);
	margin-left: 10px;
	margin-right: 10px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.miejsce {
	color: #262626;
}

.miejsce-W {
	color: #88b200;
}

#EntryImg {
	margin-top: 130px;
	height: 25%;
	width: 25%;
	border: 30px solid;
	border-color: rgb(173, 216, 230);
	border-radius: 100%;
	cursor: pointer;
}

#Logo {
	margin: auto;
	width: 160px;
	border: 7px solid;
	border-color: #262626;
	border-radius: 100%;
}

.middle-div {
	margin: auto;
	text-align: center;
}

#MainDiv {
	margin-top: 10px;
	width: 70%;
	background-color: antiquewhite;
	border-radius: 8px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 125px;
}

h1 {
	font-weight: 1000;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #e15a00;
}

h3 {
	margin-left: 15px;
	margin-right: 15px;
}

p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Button2Div {
	display: grid;
	grid-template-columns: auto auto;
	width: 60%;
	margin: auto;
	margin-top: 40px;
}

button {
	margin: auto;
	width: 20%;
	height: 40px;
}

#move-forward {
	display: none;
}

#Yes-response {
	color: rgb(127, 199, 20);
}

#resp-div {
	display: none;
}

#No-response {
	color: red;
	font-family: serif;
}

#Button4Div {
	display: grid;
	grid-template-columns: auto auto;
}

#Button4DoorDiv {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.doorDiv {
	width: 95%;
	height: 400px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 30px;
}

.doorDiv p {
	margin-top: 375px;
	font-size: 20px;
	background-color: black;
}

#RedDoorDiv {
	background-image: url("Doors/blue_door_neutral.png");
	background-repeat: no-repeat;
	background-size: 100% 95%;
}

#RedDoorDiv > p {
	color: yellow;
	background-color: red;
}

#GreenDoorDiv {
	background-image: url("Doors/green_door_neutral.png");
	background-repeat: no-repeat;
	background-size: 100% 95%;
}

#GreenDoorDiv > p {
	color: lightcoral;
	background-color: green;
}

#BlueDoorDiv {
	background-image: url("Doors/blue_door_neutral.png");
	background-repeat: no-repeat;
	background-size: 100% 95%;
}

#BlueDoorDiv > p {
	color: lightgrey;
	background-color: blue;
}

#BrownDoorDiv {
	background-image: url("Doors/green_door_neutral.png");
	background-repeat: no-repeat;
	background-size: 100% 95%;
}

#BrownDoorDiv > p {
	color: lightblue;
	background-color: brown;
}

#BadAnswer {
	display: none;
	color: red;
}

#GoodAnswer {
	display: none;
	color:rgb(127, 199, 20);
}
#BadAnswer2 {
	display: none;
	color: red;
}

#GoodAnswer2 {
	display: none;
	color:rgb(127, 199, 20);
}
#BadAnswer3 {
	display: none;
	color: red;
}

#GoodAnswer3 {
	display: none;
	color:rgb(127, 199, 20);
}

#ForwardButton {
	display: none;
	margin-top: 20px;
}

#InputButtonDiv {
	display: grid;
	grid-template-columns: auto auto;
	width: 100%;
	margin-top: 20px;
}
#InputButtonDiv2 {
	display: grid;
	grid-template-columns: auto auto;
	width: 100%;
	margin-top: 20px;
}
#InputButtonDiv3 {
	display: grid;
	grid-template-columns: auto auto;
	width: 100%;
	margin-top: 20px;
}

#InputButtonDiv > * {
	margin: auto;
}
#InputButtonDiv2 > * {
	margin: auto;
}
#InputButtonDiv3 > * {
	margin: auto;
}

#InputButtonDiv > input {
	margin-right: 5px;
}

#InputButtonDiv > button {
	margin-left: 5px;
}
#InputButtonDiv2 > input {
	margin-right: 5px;
}

#InputButtonDiv2 > button {
	margin-left: 5px;
}
#InputButtonDiv3 > input {
	margin-right: 5px;
}

#InputButtonDiv3 > button {
	margin-left: 5px;
}

#ReturnButtonDiv {
	width: 40%;
	height: auto;
	text-align: left;
	margin-left: 20px;
}

#ReturnButtonDiv > button {
	font-size: 14px;
	width: 70px;
	height: 30px;
}

#lastQ {
	width: 70%;
}

#LastHallButton {
	display: none;
	margin-top: 20px;
}

/* https://getcssscan.com/css-buttons-examples */
/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  margin: auto;
  width: 25%;
  height: 40px;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.arrow4div {
	margin: auto;
	display: grid;
	grid-template-columns: auto auto auto;
	width: 100px;
}

.arrow4div > button {
	width: 30px;
	height: 30px;
	font-size: 30px;
}


.zagadka-rock {
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	margin-right: 20px;
	margin-left: 20px;

  	text-shadow: -1px -1px 0 #61220a , 1px -1px 0 #61220a, -1px 1px 0 #61220a, 1px 1px 0 #61220a;
}

#ElemDiv3 {
	display: grid;
	grid-template-columns: auto auto auto;
}

#ButtonRock3 {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
}

#ButtonRock3 > * {
	margin-top: 20px;
	width: 200px;
}

#TakeKeyDiv {
	margin-left: auto;
	margin-right: auto;
	display: none;
	text-align: center;
}

#FragKeyDiv {
	margin: auto;
	width: 50%;
	background-color: darkmagenta;
	border-radius: 15px;
	color: whitesmoke;
	padding-top: 20px;
	padding-bottom: 20px;
	display: grid;
	grid-template-columns: auto auto;
}

#FragKeyDiv :nth-child(2n){
	text-align: center;
}

#FragKeyDiv :nth-child(2n-1){
	text-align: left;
}

#KeyLookUpDiv {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

#KeyLookUpDiv > button{
	width: 200px;
}

.FragKeyLookUpDiv {	
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	height: 350px;
	background-color: darkmagenta;
	color: whitesmoke;
	padding-top: 20px;
	padding-bottom: 20px;
	display: none;
	grid-template-columns: auto;
	grid-column-gap: 10px;
}

.FragKeyLookUpDiv > p {	
	background-color: #dddddd;
	color: black;
	width: 90%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

#RockFragDiv {
	background-color: brown;
}

#FireFragDiv {
	background-color: red;
}

#WoodFragDiv {
	background-color: green;
}

#WaterFragDiv {
	background-color: blue;
}

.obrazekMinecraftRock {
	width: 50%;
	border: 5px solid;
	border-color: #4a1407;
}

.obrazekRock {
	width: 75%;
	border: 3px solid;
	border-color: #4a1407;
}

.obrazekWoods {
	width: 75%;
	border: 3px solid;
	border-color: #0a4a07;
}
.obrazekWoodsGlitch {
	width: 50%;
	border: 3px solid;
	border-color: #db0d0d;
}

.button4div {
	display: grid;
	grid-template-columns: auto auto auto auto;
	width: 75%;
	margin: auto;
	margin-bottom: 15px;
	grid-row-gap: 15px;
}

.button2Div {
	display: grid;
	grid-template-columns: auto auto;
	width: 60%;
	margin: auto;
	margin-top: 40px;
}

.button2Div > button {
	width: 230px;
	height: 100px;
}